* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
}
.header {
    background-color: #e60000;
    color: white;
}
.header-title {
    font-size: 2.2em;
}
.credits {
    font-style: italic;
}

.title {
    color: #e60000;
    font-size: 2em;
}
.paragraph {
    margin: 1.5em 1em;
    font-size: 18px;
}
