* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
}
.header {
    background-color: #e60000;
    color: white;
}
.header-title {
    font-size: 2.2em;
}
.credits {
    font-style: italic;
}

.title {
    color: #e60000;
    font-size: 2em;
}
.paragraph {
    margin: 1.5em 1em;
    font-size: 18px;
}
.ingrediens-table {
    margin: 1.5em 1.7em;
}
.ingrediens-table tr {
    height: 1.7rem;
}
.ingrediens-table td {
    min-width: 3em;
}
.quantity {
    font-weight: bold;
    color: #e60000;
}
.steps {
    list-style: none;
    counter-reset: item;
    margin: 1em;
}
.steps li {
    counter-increment: item;
    margin-bottom: 3em;
}
.steps li:before {
    content: counter(item);
    display: inline-block;
    margin-right: 15px;
    background: #e60000;
    color: white;
    border-radius: 100%;
    width: 1.2em;
    text-align: center;
}
.steps-img {
    display: block;
    margin: 0.7em 1em;
    width: 600px;
    height: 300px;
}
.cookies-img {
    display: block;
    margin: 1em auto;
    width: 400px;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.footer {
    background-color: grey;
    color: white;
    width: 100%;
    margin-bottom: 0;
    padding: 3em;
}
